<article>
  <li>
  <header>
    <%= link_to story.title, story.link, class: "tiny button round secondary" %>
  </header>
  <p>Upvotes: <%= story.upvotes %> | 
  Category: <%= story.category %> |
  <%= link_to "Comments", story %> | <%= link_to "Remove", story, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </li>
</article>