<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Rewsly" %></title>

  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "All Stories", stories_path %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "Browse Stories", stories_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Add a Story", new_story_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Our Partners" %></li>
          <li class="divider"></li>
          <li><%= link_to "Contact Us" %></li>
        </ul>
      </div>
    </nav>

  
  <div class="row">

    <div class="small-8 columns">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>  
      
    <div class="small-4 columns">
      <h2 class="subheader">About Us</h2>
      <p line-height="1.0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id iaculis tellus. Pellentesque vel rutrum turpis. Sed in mauris feugiat elit sollicitudin pellentesque eu vel magna. Sed ac arcu nisl. Nunc vulputate non velit porttitor posuere. Suspendisse imperdiet luctus iaculis. Praesent vitae dictum purus. Suspendisse tristique justo vitae cursus dapibus. Ut varius sodales dolor, eu hendrerit orci hendrerit sit amet. In cursus sem et dictum mattis. Quisque posuere mauris nec elit elementum, et volutpat massa tincidunt. Cras id eleifend lacus. Vivamus facilisis condimentum neque, ut posuere augue sollicitudin semper. Vivamus rutrum accumsan nisl et porta. Mauris porta, urna et hendrerit hendrerit, felis turpis lacinia velit, et malesuada tortor elit eget tortor. Sed mattis mollis turpis at laoreet.</p>

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "small button alert" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "tiny button success" %> | <%= link_to "Sign in", new_user_session_path, class: "tiny button" %>
      <% end %>

    </div>
  </div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
